<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  {% csrf_token %}
</head>
<body>
  <h2>Sign Up</h2>
  
  <form action="" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
    
    <input type="submit" value="Sign Up">
  </form>
  
  <p>Already have an account? <a href={% url 'login' %}>I have already an account</a></p>
</body>
</html>
